@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Averia Libre', cursive;
}

body {
    min-height: 100vh;
    max-width: 1062px;
    margin: 0 auto;
    padding: 0 4%;
    background-color: #372775;
    box-sizing: border-box;
}

/*----------------------------------------- HEADER ------------------------------------------------*/

header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Isso alinhará os elementos do header nas extremidades */
}

/*----------------------------------- LOGO-ICONE-TEXTO-CONTAINER ----------------------------------*/

.logo-icone-texto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-icone-texto-container a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h1-texto-logo {
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 5px;
    font-weight: normal;
}

.material-symbols-outlined {
    color: #FFFFFF;
}

/*------------------------------------- BOTAO-SAIR-CONTAINER ------------------------------------*/

.botao-sair-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    color: #3F92C5;
    font-size: 20px;
}

ul {
    list-style: none;
}

/*----------------------------------- CARDS-CONTAINER ----------------------------------*/

.cartao-ancora {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartao-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
}

.cartao {
    width: 271px;
    height: 238px;
    border-radius: 10px;
    background-color: #312464;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-cartao-modificar {
    width: 100px;
    height: 100px;
}

.img-cartao-coletarDados {
    width: 100px;
    height: 100px;
}

.img-cartao-relatorio {
    width: 83.13px;
    height: 82.81px;
}

.titulo-cartao {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: normal;
    margin: 20px 0 5px 0;
}